# docker compose setup
LOGIN=your_login
DOMAIN_NAME=your_login.42.fr

# MYSQL SETUP
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser_db
MYSQL_PASSWORD_FILE=/run/secrets/db_password
MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db_root_password

# WORDPRESS SETUP --> https://github.com/wp-cli/wp-cli/releases
WP_CLI_VERSION=2.12.0
WP_CLI_SHA512=replace_with_the_sha512_checksum_of_the_wp_cli_version_above
WP_TITLE=Inception
WP_ADMIN_USER=your_admin_username
WP_ADMIN_EMAIL=you@student.42.fr
WP_ADMIN_PASSWORD_FILE=/run/secrets/wp_admin_password
WP_USER=wpuser
WP_USER_EMAIL=wpuser@student.42.fr
WP_USER_PASSWORD_FILE=/run/secrets/wp_user_password
